    <nav class="toc">
        {{ $section := .Section }}
        {{ $title := .Title | lower }}
        {{ $ispage := .IsPage }}
        {{ $isnode := .IsNode }}
        {{ $ishome := (eq .URL "/") }}
        {{ if .IsPage }}
        <h2 class="toc-section">{{ .Section }}</h2>
        {{ else }}
        <h2 class="toc-section">{{ .Title }}</h2>
        {{ end }}
        {{ $currentNode := . }}
        <ul class="toc-section-list">
            {{ range .Site.Pages.ByWeight }}
                {{ if and $ispage (eq $section .Section) }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
                {{ if and $isnode (eq $title .Section) }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
                {{ if and $ishome (eq "" .Section) }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
            {{ end }}
        </ul>
    </nav>